<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义log 文件的 home 目录  -->
    <property name="LOG_HOME"  value="D:/study/graudate_collection/CloudWorkflow/src/Activiti-5.23.0/logs"></property>

    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.activiti.engine.impl.bpmn.parser.BpmnParse" level="info" additivity="false">
        <appender-ref ref="INFO" />
    </logger>

    <logger name="org.activiti.engine.impl.persistence.deploy.DeploymentManager" level="info" additivity="false">
        <appender-ref ref="INFO" />
    </logger>

    <!-- 日志级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>